* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);

}

.shell {
    position: relative;
    width: 520px;
    border-radius: 0 0 1em 1em;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.2);

}

.shell header {
    border-radius: 1em 1em 0 0;
    background: #e66b6b;
    color: #fff;
    padding: 3em 2em;
    background-image: url();
    background-size: cover;
}

.day {
    font-size: 8em;
    font-weight: 900;
    line-height: 1em;
    text-transform: lowercase;
}

.calendar {
    width: 100%;
    background: #fff;
    border-radius: 0 0 1em 1em;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 3px 1px #fff;
    color: #000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.calendar thead {
    color: #e66b6b;
    font-weight: 700;
    text-transform: uppercase;
}

.calendar td {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    font: 600 17px;
    transition: 0.2s;

}

.calendar tbody td:hover {
    background: #f292b1;
    color: #fff;
    font: 600 25px '';
}

.current-day {
    color: #e66b6b;
}

.prev-month,
.next-month {
    color: #cacaca;

}

.ring-left,
.ring-right {
    position: absolute;
    top: 265px;
}

.ring-left {
    left: 2em;
}

.ring-right {
    right: 2em;
}

.ring-left::before,
.ring-right::before {
    content: '';
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.3).0 -1px 1px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 8px;
    height: 32;
    width: 8px;


}