/* 清楚默认样式 */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-size: 20px;
    color: #f4f1de;
}

/* flex布局实现内容，竖直方向水平方向都居中 */
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #a18cd1 0%, #d58de9 100%);
}

/* flex布局+实现内容同行显示 */
.shell {
    display: flex;
}

/* 导航栏显示设计*/
.button,
.portrait {
    background-color: #50536e;
    width: 165px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;

}

/* 头像布局设计 */
.portrait::before {
    content: '';
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(30px, -30px);
    background-image: url(../img/bg23.jpg);
    background-size: cover;
    border: 10px solid #fff;

}

/* 头像信息透明，配合伪类选择器，展示动画效果 */
.information {
    width: 220px;
    height: 0;
    background-color: #e07a5f;
    transform: translate(-20px, -110px);
    border-radius: 10%;
    padding: 10px 0;
    line-height: 0;
    transition: 0.3s;
    opacity: 0;
}

/* 导航栏标题，滑动颜色区分 */
.button:hover {
    background-color: #d15a39;

}

/* 导航栏标题内容，滑动颜色区分 */
.button li:hover {
    background-color: #ffb29d;

}

/* 导航栏标题信息透明，配合伪类选择器，展示动画效果 */
.button ul li {
    height: 0;
    /* 鼠标滑开有从下向上首的效果 */
    transition: .3s;
    opacity: 0;
    transform: translateY(-65px);
    background-color: #e07a5f;

}

/* 伪类选择器，展示从上向下弹跳的动画效果 */
.button:hover li {
    height: 65px;
    opacity: 1;
    transform: translateY(0);
    transition: 0.3s;
}

.portrait:hover .information {
    opacity: 1;
    line-height: 65px;
    transform: translate(-20px, -10px);
    height: auto;

}

a {
    text-decoration: none;
}